/* Empty. Add your own CSS if you like */
#mainPage{
  /*padding-top: 45px;*/
    background: url('night.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


#mainPage .header{
  font-size: 22px;
  margin: 30px auto;
  width: 200px;
  text-align: center;
}

#mainPage .large-button-container{
  width: 100px;
  height: 50px;
  margin: auto;
  padding-top: 300px;
}

#mainPage .play-button{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #999999;
  border: 0px solid white;
}



#playPage{
    background: url('play.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#playPage .albumArtContainer{
  width: 100px;
  height: 50px;
  margin: auto;
  padding-top: 300px;
}

.albumArt{
  width: 220px;
  height: 220px;
  position: absolute;
  top: 225; bottom:0; left: 0; right:0;
  margin: auto;
}

.trackMetaDataText{
  text-align: center;
  margin: auto;
  position: absolute;
  top: 75; bottom: 0; left: 0; right: 0;
  font-size: 22px;

}

#track_name{
  padding-bottom: 20px;


}



.music_player{
	position: absolute;
	top:400; bottom:0; left:70; right:20;
	margin: auto;

}
.thumbs_up{
	position: absolute;
	top:300; bottom:0; left:300; right:0;
	margin: auto;
}
